.card-Height {
    height: 390px;
}

.service-img {
    height: 590px;
    width: 100%;
    object-fit: cover;
}

@media screen and ( max-width: 991px ) {
    .service-img {
        display: none;
    }
 }