body{
   background: linear-gradient(-55deg, transparent 35%, rgba(0, 0, 0, 0.055) 25%, rgba(0, 0, 0, 0.055) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.055) 75%, rgba(0, 0, 0, 0.055));
    background-size: 5px 5px;
    background-color: #f2f2f2;
}

#contact{
    height: 75vh;
}